<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ICalculator" />
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8000/GettingStarted/CalculatorService"
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator"
				contract="ServiceReference1.ICalculator" name="WSHttpBinding_ICalculator">
				<identity>
					<userPrincipalName value="DESKTOP-MP1O6OK\marce" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>